<h2 class="ti" style="text-align: center">
  Prueba técnica Delfos<span class="blue">ti</span>
</h2>

<div class="filter-container">
  <div class="cont">
    <p
      style="
        color: #2b68b3;
        margin-bottom: 8px;
        margin-left: 7px;
        font-weight: 500;
      "
    >
      Seleccione género:
    </p>
    <mat-form-field class="input-child dd" appearance="outline" color="accent">
      <mat-select
        [(ngModel)]="filtros.genre"
        multiple
        placeholder="Seleccionar Género"
        (selectionChange)="filter()"
      >
        <mat-option [value]="item" *ngFor="let item of generos_list">{{
          item
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="cont">
    <p
      style="
        color: #2b68b3;
        margin-bottom: 8px;
        margin-left: 7px;
        font-weight: 500;
      "
    >
      Nombre de la Película:
    </p>
    <mat-form-field
      class="input-child dd"
      appearance="outline"
      style="width: 80%"
    >
      <input
        matInput
        [(ngModel)]="filtros.title"
        placeholder="Buscar por Nombre"
        style="color: #80848e"
        (ngModelChange)="filter()"
      />
    </mat-form-field>
  </div>

  <div style="width: 40%" class="cont">
    <p
      style="
        color: #2b68b3;
        margin-bottom: 8px;
        margin-left: 7px;
        font-weight: 500;
      "
    >
      Descripción de la Película:
    </p>
    <mat-form-field
      class="input-child dd"
      appearance="outline"
      style="width: 80%"
    >
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        style="color: #80848e"
        placeholder="Buscar por Descripcion"
        [(ngModel)]="filtros.description"
        (ngModelChange)="filter()"
      ></textarea>
    </mat-form-field>
  </div>
</div>

<div class="show-all" *ngIf="movies_list.length > 0; else not">
  <div class="card" *ngFor="let item of movies_list; let i = index">
    <div class="card-int">
      <img [src]="item.ima" />
      <div class="text" style="z-index: 100">
        <div>
          <!-- <p class="sec">Nombre :</p> -->
          <p
            class="pri"
            style="line-height: 2px; margin: 34px auto; margin-left: 10px"
          >
            {{ item.title | titlecase }}
          </p>
        </div>
        <div
          style="
            display: flex;
            justify-content: start;
            width: 49rem;
            text-align: justify;
          "
        >
          <!-- <p class="sec">Descripción:</p> -->
          <p class="sec">{{ item.description }}</p>
        </div>
        <div class="sepa">
          <!-- <p class="sec">Género :</p> -->
          <p class="sec2">
            {{ item.genre }}
          </p>
          <div *ngIf="i == 0" class="star">⭐⭐⭐⭐</div>
          <div *ngIf="i == 1" class="star">⭐⭐⭐</div>
          <div *ngIf="i == 2" class="star">⭐</div>
          <div *ngIf="i == 3" class="star">⭐⭐⭐</div>
          <div *ngIf="i == 4" class="star">⭐⭐⭐⭐</div>
          <div *ngIf="i == 5" class="star">⭐⭐</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #not>
  <div class="not-found">
    <div>
      <img src="../assets/img/not-results.webp" />
    </div>
    <h2>Película no encontrada</h2>
  </div>
</ng-template>
